.code-image-container {
  display: flex;
  height: 100vh;
}

.code-container {
  flex-basis: 50%;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 50%;
}

.image {
  width: 100%;
}