.code-image-container {
  display: flex;
  height: 100vh;
}

.code-container {
  flex: 1;
  overflow-wrap: break-word; /* Allows breaking of long words */
  word-break: break-all;     /* Breaks words at any character */
  white-space: normal;       /* Normal white space handling */
}

.image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.image {
  width: 100%;
}