.code-container {
    flex: 1;
    /* overflow-wrap: break-word; */
    /* word-break: break-all; */
    white-space: normal;

    font-family: 'Courier New', monospace;
    color: #50FA7B
    /* font-family: 'Inconsolata', monospace; */
  }